# Client environment variables for SmartGroup
# Replace with the OAuth client ID you created in Google Cloud Console.
NEXT_PUBLIC_GOOGLE_CLIENT_ID=654653488685-4g6lp2683l57943vcjk5f24qaef6fvlg.apps.googleusercontent.com

# Example: if you run the client locally, the app origin should be allowed in Google Cloud
# Authorized JavaScript origin: http://localhost:3000
