PORT=5001
CLIENT_URL=http://localhost:3000

DATABASE_URL=postgresql://neondb_owner:npg_ps21uokeVanS@ep-ancient-darkness-a7wv7628-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your_jwt_secret_here

GOOGLE_CLIENT_ID=654653488685-4g6lp2683l57943vcjk5f24qaef6fvlg.apps.googleusercontent.com
OPENAI_API_KEY=your_openai_api_key_here